@use '../../utils' as *;

.rs-header-logo {
	padding: 28px 0;
}
.rs-header-menu-icon {
	width: 50px;
	height: 50px;
	background: #ddd;
	text-align: center;
	border-radius: 4px;
	line-height: 55px;
	cursor: pointer;
  }
  .rs-header-menu-icon i {
	font-size: 25px;
  }

.rs-main-menu{
	ul{
		li{
			display: inline-block;
			margin-right: 35px;
			position: relative;		
			z-index: 999;	
			a{
				color: #1C1C57;
				font-size: 16px;
				margin: 0;
				padding: 30px 0;
				display: block;
				transition: 0.3s;
			}
			&:hover > a{
				color: #078D84;
				
			}
			&:hover > .sub-menu{
				visibility: visible;
				opacity: 1;
				transform: scaleY(1);							
			}	
		}
		.sub-menu {
			position: absolute;
			width: 250px;
			top: calc(100% - 10px);
			background: #fff;
			box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.1), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
			transition: 0.3s;
			padding: 0 20px;
			border-radius: 5px;	
			visibility: hidden;		
			opacity: 0;
			transform: scaleY(0.5);
			transform-origin: top center;	
			 li{
				display: block;
				margin: 0;
				padding: 10px 0px;
				a{
					padding: 0;
					margin: 0;
				}
			}
			.sub-menu {
				left: 100%;
				top: 0;

			}
		}

	}

}


